.home .hero img {
    max-height: none;
}

.theme-default-content:not(.custom) {
    max-width: 800px;
}

.web-basics, .my-design, .my-tools, .data-algorithm {
    .page {
        ul {
            line-height: 2.5;
        }
    }
}